<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618372408291-0j19gion8101olf3ftfudf32q8kjq359.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618372408291-0j19gion8101olf3ftfudf32q8kjq359</string>
	<key>API_KEY</key>
	<string>AIzaSyD92DXxeFbCq-gMonIt-_SkJ6gH-9ZVdks</string>
	<key>GCM_SENDER_ID</key>
	<string>618372408291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linker</string>
	<key>PROJECT_ID</key>
	<string>linker-f11a6</string>
	<key>STORAGE_BUCKET</key>
	<string>linker-f11a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618372408291:ios:07a7b008a3d21c538e36d6</string>
	<key>DATABASE_URL</key>
	<string>https://linker-f11a6.firebaseio.com</string>
</dict>
</plist>